*{margin:0; padding:0}

#wrap{
  position: relative;
  overflow: inherit;
}

header{
  background: yellow;
  text-align: right;
}

nav{
  background: green;
}

nav ul{
  text-align: center;
}

nav ul li{
  background: black;
  display: inline-block;
  height: 20px;
  padding: 10px 50px;
  text-align: left;
}

nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 18px;
}

aside{
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 20%;
  right: 0px;
  background: url("http://www.literarygenius.info/images/william-shakespeare.jpg") no-repeat center;
  background-size:contain;
  background-color: white;
}

aside h2{
  text-align: center;
}

aside ul{
  position: relative;
  left: 25%;
  list-style-position: inside;
}

#content{
  display: inline-block;
  background:gray;
  width: 80%;
}

#content h1{
  font-size: 40px;
  font-weight: bold;
}

#content p{
  font-size: 20px;
}

#content ul li{
  text-align: center;
  font-size: 20px;
}

footer{
  position: absolute;
  width: 80%;
  padding: 20px 0;
  background: green;
}
