

@media only screen and (min-width: 650px){
  .menu {
    display: none;
  }
  #dropdown {
    display: block;
  }
  .top-nav ul {
    text-align: center;
    background: transparent;
  }
  .top-nav ul li {
    display: inline-block;
  }
}

@media only screen and (min-width: 1000px){
  .top-nav ul {
    text-align: right;
  }
}
