/*-----MAIN-----*/
html {
  box-sizing: border-box;
}
html, body{
	height: 100%;
}
/*skip content*/
.skip{
	position: absolute;
	left: -999px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
	z-index: -999;
	color: #E3AD02;
}
a{
  color: #FF6969;
}
a.skip:active, a.skip:focus, a.skip:hover {
  position:fixed;
  top: auto;
  left: auto;
	width: auto;
	height: auto;
	overflow: visible;
	z-index: 999;
}
html, body, header, footer{
    /* background-image: url("img/bg.png"); */
    /* background-color: #ECECEA; */
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
}
header, footer, .logo {
	/* background-color: #211D24; */
	color: #DDDDDA;
}
body{
  /* background-image: url("background.png"); */
  /* background-repeat: repeat-y; */
  /* background-color: #f5eded; */
  background-attachment: fixed;
  display: flex;
	flex-direction: column;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Ubuntu', sans-serif;
  color:#1b1515;
}
p{
	font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color:#1b1515;
}
h1{
	font-size: 1.75em;
}
h2{
	font-size: 1.5em;
}
h3{
	font-size: 4em;
}
h4{
	font-size: 1.12em;
}
h5{
	font-size: .83em;
}
h6{
	font-size: .75em;
}
.main-content{
	flex: 1 0 auto;
	margin-top: 110px;
}
.about, .work, .crafts, .contact{
	margin: auto;
	padding-right: 3%;
	padding-left: 3%;
}

/*-----HEADER & NAVIGATION-----*/
header{
	font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
	font-size: 120%;
  width: 100%;
  margin-bottom: 3%;
    /* position: fixed; */
}
/*mobile-first*/
.top-nav .menu {
  position: absolute;
  top: 42px;
  right: 5%;
}

#dropdown {
  display: none;
}

.top-nav ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
  position: absolute;
  top: 58px;
  right: 10%;
  z-index: 1;
  background-color: #FFFFFF;
	/* display: block; */
}

.top-nav ul li a{
	font-size: 0.75em;
	color: #1b1515;
	text-decoration: none;
	padding: 1em 1em;
	display: block;
	text-align: center;
}
.menu-icon a{
	font-size: 1em;
	color: #211D24;
	text-decoration: none;
	padding: .5em 1em;
	display: block;
	text-align: center;
}
.top-nav ul li a.current-page{
	color: #FF6969;
	font-weight: bold;
}
.top-nav ul li a.current-page:before {
  color: #FF6969;
  padding-right: 4px;
  position: relative;
  top: 1px;
}
.top-nav ul li a:hover, .menu-icon a:hover, .top-nav ul li a:focus, .menu-icon a:focus{
  background-color: #FF6969;
  color: #FFFFFF;
  font-weight: bold;
}
.top-nav ul li a:hover:before, .top-nav ul li a:focus:before{
  color: #FFFFFF;
  padding-right: 4px;
  position: relative;
  top: 1px;
} */
/*implement menu toogle*/
/* .top-nav.toggle-open ul{
	display: block;
}




/*-----LOGO-----*/
.logo{
	/* background-color: #FFFFFF; /*CHANGE*/
	margin: 0;
	text-align: center;
	padding: .25em .75em;
}
.logo img{
	height: 2em;
  position: absolute;
  left: 5%;
  top: 32px;
}

/*-----main content ------*/
.main-content-crafts{
	margin-top: 0px;
}

.crafts{
	display: block;
	margin: auto;
	max-width: 1200px;
}

.photo-cell {
  position: relative;
}

.photo-cell img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.photo-cell #c {
  filter: sepia() saturate(1) hue-rotate(310deg);
  background-blend-mode: lighten;
  opacity: 1;
  box-shadow: 10pt 15pt 20pt rgba(104, 103, 103, .5);
}

.photo-cell #c:hover {
  filter: none;
  opacity: 1;
}


.photo-cell h1 {
  text-align: right;
  font-size: 1.3em;
}


/* footer */
.footer p {
  font-weight: lighter;
  font-size: .75em;
  text-align:center;
}

.footer {
  display: block;
  margin-top: 12%;
  margin-bottom: 3%;
}
